.tarjetaProducto {
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;

  border-radius: 10px;
  border-style: solid;
  border-color: black;

  background: rgba(0, 0, 0, 0.8);

  padding-top: 30px;
  padding-bottom: 30px;

  height: auto;
  word-wrap: break-word;
}

.tarjetaProducto img {
  border-radius: 10px;
}

.tarjetaProducto img:hover {
  opacity: 0.4;
}

.precioProducto p {
  margin: 20px;
  padding: 10px;
}

.contenedorImagen {
  position: relative;
  margin: auto;
  width: 80%;
}

.imagen {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 9px;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.contenedorImagen:hover .overlay {
  opacity: 1;
}

.texto {
  color: white;
  font-size: 20px;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
}

@media (max-width: 560px) {
  .tarjetaProducto {
    width: 100%;
    height: auto;
  }
}
